body {
    font-family: Arial;
    display: grid;
    justify-content: left;
    
}

.todo-grid {
    display: flex-box;
    grid-template-columns: 500px;
    gap: 10px;
    margin-top: 20px;
    margin-top: 2px;
    padding-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ebebeb;


}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.todo-input-grid {
    display: flex;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.name-input,
.due-date-input {
    font-size: 14px; /* Reduced font size */
    padding: 5px; /* Reduced padding */
    cursor: pointer;
}

.add-todo-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
    padding: 8px; /* Reduced padding */
}

.delete-todo-button {
    background-color: red;
    color: white;
    border: none;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
    padding: 8px; /* Reduced padding */
}