body {
    font-family: Arial;
}

.todo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.todo-input-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.name-input,
.due-date-input {
    font-size: 14px; /* Reduced font size */
    padding: 5px; /* Reduced padding */
}

.add-todo-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
    padding: 8px; /* Reduced padding */
}

.delete-todo-button {
    background-color: red;
    color: white;
    border: none;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
    padding: 8px; /* Reduced padding */
}